@import "mixins";

.example-form {
  width: 100%;
  margin: 2em 0 3em;
  padding: 0 .7em;
  box-sizing: border-box;
}

.example-full-width {
  width: 100%;
}

.label_word {
  width: 100%;
}



input {
  padding: 9px 0;
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  border-style: groove;
    &::placeholder {
    font-size: 1.2em;
  }
    @include tab {
      padding: 15px 0;
        &::placeholder {
          font-size: 1.5em;
        }
    }
}

.form-filed_item {
  @include tab {
    width: 60%;
    margin: 0 auto;
  }
    @include pc {
      width: 40%;
      padding: .2em;
    }
}

.form-filed-btn {
  text-align: right;
}

.serch-btn {
  @include pc {
    padding: .4em;
  }
}

.mat-form-field-wrapper  {
  padding: 0;
}

.example-button-row {
  text-align: center;
  margin-bottom: 2em;
    button {
      color: #454545;
      padding: .8em 1em;
    }
}
