@import 'mixins';
@import '~@angular/material/theming';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 0 8px;
  @include mat-elevation(4);
  @include pc {
    padding: 40px 32px;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  p {
    font-size: 24px;
    @include pc {
      font-size: 32px;
    }
  }
  &__nav-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    @include pc {
      display: none;
    }
  }
  &__nav-pc {
    @include pc {
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    button {
      color: #fff;
    }
  }
  &__nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      padding-left: 8px;
      @include tab {
        padding-left: 32px;
      }
      span {
        display: inline-flex;
        vertical-align: middle;
        color: #fff;
      }
    }
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1;
    span {
      font-size: 12px;
      font-family: Arial, sans-serif;
    }
    button {
      @include pc {
        margin-right: 16px;
      }
    }
  }
}

.header-auth {
  button {
    padding: 0 8px;
    margin: 8px;
  }
}

.display {
  background-color: #eeeeee;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.displays {
  background-color: #000;
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}
