<header>
  <mat-toolbar class="header">
    <div class="header__title" routerLink="/">
      <img src="assets/logo.png" alt="" />
    </div>
    <nav class="header__nav">
      <div class="header__nav-item">
        <button
          mat-icon-button
          matTooltip="求人検索する"
          *ngIf="searchIcon()"
          (click)="isSearch()"
        >
          <mat-icon>search</mat-icon>
        </button>
        <button
          routerLink="/company/recruitment"
          mat-icon-button
          matTooltip="求人作成する"
          *ngIf="companyLoginStatus"
        >
          <mat-icon>add</mat-icon>
        </button>
        <ng-container *ngIf="user$ | async as user">
          <div class="header__user-icon">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <img [src]="user.photoURL" alt="" />
            </button>
          </div>
        </ng-container>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngIf="user$ | async" (click)="logout()">
            <mat-icon>input</mat-icon>
            <span>ログアウト</span>
          </button>
          <button mat-menu-item routerLink="/user/keep" *ngIf="userLoginStatus">
            <mat-icon>star</mat-icon>
            <span>お気に入り一覧</span>
          </button>
          <ng-container *ngIf="userLoginStatus">
            <button mat-menu-item routerLink="/user/mypage">
              <mat-icon>person</mat-icon>
              <span>プロフィール</span>
            </button>
          </ng-container>
          <ng-container *ngIf="companyLoginStatus">
            <button mat-menu-item routerLink="/company/profile">
              <mat-icon>person</mat-icon>
              <span>プロフィール</span>
            </button>
          </ng-container>
          <ng-container *ngIf="companyLoginStatus">
            <button mat-menu-item routerLink="/company/job/list">
              <mat-icon>event_note</mat-icon>
              <span>自社求人一覧</span>
            </button>
          </ng-container>
          <button mat-menu-item routerLink="/plan">
            <mat-icon>payment</mat-icon>
            <span>プラン</span>
          </button>
        </mat-menu>
      </div>
      <ng-container *ngIf="!(user$ | async) && searchNone()">
        <div class="header-auth">
          <button (click)="loginUser()" mat-raised-button color="basic">
            <span>ログイン</span>
            <i class="material-icons">person</i>
          </button>
          <button (click)="loginCompany()" mat-raised-button color="accent">
            企業方はこちら
          </button>
        </div>
      </ng-container>
    </nav>
  </mat-toolbar>
</header>
<div class="headeer-bottom">
  <ng-container *ngIf="display">
    <div class="header-search" [class.display]="display">
      <ais-instantsearch [config]="config">
        <ais-configure [searchParameters]="inputParams"></ais-configure>
        <app-search-input
          (querySuggestionSelected)="search($event)"
        ></app-search-input>
      </ais-instantsearch>
    </div>
    <div [class.displays]="display" (click)="notSearch()"></div>
  </ng-container>
</div>
