@import 'mixins';
@import '~@angular/material/theming';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  @include mat-elevation(4);
  a {
    color: #fff;
    text-decoration: none;
    padding: 12px 0;
  }
  p {
    font-size: 24px;
    @include pc {
      font-size: 32px;
    }
  }
  small {
    font-size: 12px;
    @include pc {
      font-size: 14px;
    }
  }
}

.header__nav-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  @include pc {
    display: none;
  }
}

.header__nav-pc {
  @include pc {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  button {
    color: #fff;
  }
}

.header__nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  li {
    padding-left: 8px;
    @include tab {
      padding-left: 32px;
    }
    @include pc {
      &:hover {
        opacity: 0.7;
        text-decoration: underline;
      }
    }
    span {
      display: inline-flex;
      vertical-align: middle;
      color: #fff;
    }
  }
}

.iconlist {
  color: lightgray;
  display: inline-flex;
  vertical-align: middle;
  margin-right: 8px;
}

.header-icon {
  color: #fff;
}

a {
  text-decoration: none;
}

.header__home {
  color: #fff;
}

.displayname-mobile {
  display: block;
  text-align: center;
  @include pc {
    display: none;
  }
}

.displayname-pc {
  display: none;
  @include pc {
    display: block;
  }
}
