@import "mixins";

header {
  border-bottom: 1px solid skyblue;
  background: #00c6ff;
  background: -webkit-linear-gradient(to right, #0072ff, #00ade5);
  background: linear-gradient(to right, #0072ff, #00ade5);
  padding: 12px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  @include pc {
    padding: 20px 8px;
  }
  a {
    color: #fff;
    text-decoration: none;
    padding: 12px 0;
  }
}

.header-nav {
  ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  li {
    padding-left: 8px;
    @include tab {
      padding-left: 32px;
    }
    @include pc {
      &:hover {
        opacity: 0.7;
        text-decoration: underline;
      }
    }
    span {
      display: inline-flex;
      vertical-align: middle;
    }
  }
}
.iconlist {
  color: lightgray;
  display: inline-flex;
  vertical-align: middle;
  margin-right: 8px;
}

.header-icon {
  color: #fff;
}

a {
  text-decoration: none;
}

.header__home {
  color: #fff;
}
