<header>
  <a routerLink="/">
    <h1>Tokyo byte</h1>
  </a>
  <nav class="header-nav">
    <ul>
        <li>
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon class="header__home">home</mat-icon>
          </button>
        </li>
          <mat-menu #menu="matMenu">
            <button (click)="login()" mat-menu-item>
              <mat-icon>lock</mat-icon>
              <span>ログイン</span>
            </button>

            <a routerLink="/keep">
              <button mat-menu-item>
                <mat-icon>star</mat-icon>
                <span>お気に入り一覧</span>
              </button>
            </a>

            <a routerLink="/profile">
              <button mat-menu-item>
                <mat-icon>person_pin</mat-icon>
                <span>プロフィール</span>
              </button>
            </a>

            <a routerLink="/plan">
              <button mat-menu-item>
                <mat-icon>payment</mat-icon>
                <span>プラン</span>
              </button>
            </a>
        </mat-menu>
    </ul>
  </nav>
</header>

