<footer class="footer-box">
  <div class="footer-box__icons">
    <div class="footer-box__icon">
      <a routerLink="/">
        <mat-icon aria-hidden="false">home</mat-icon>
        <span>ホーム</span>
      </a>
    </div>
    <div class="footer-box__icon">
      <a routerLink="/intl/help">
        <mat-icon aria-hidden="false">help</mat-icon>
        <span>ヘルプ</span>
      </a>
    </div>
    <div class="footer-box__icon">
      <a routerLink="/job/list">
        <mat-icon aria-hidden="false">work</mat-icon>
        <span>求人一覧</span>
      </a>
    </div>
  </div>
</footer>
