<section class="about">
  <div class="about__head">
    <img src="assets/media.png" width="1000" alt="" />
    <div class="about__title">
      <h1>
        代行をして
        <br />
        他人の手助けをしよう
      </h1>
      <p>-代行・レンタルサービス-</p>
      <button
        mat-raised-button
        aria-label="代行求人をみる"
        color="primary"
        routerLink="/"
      >
        代行サービスをみる
      </button>
    </div>
  </div>
  <div class="about__container">
    <div class="about__introduce">
      <h2>Proxy Worksとは？？</h2>
      <p>
        私たちProxy
        worksは近年、増加傾向にある「代行・レンタル」を中心としたサービス
        を掲載しています。
        「代行・レンタル」サービスはまだまだ認知度が薄かったり、信用度が低いイメージがある方も多いかもしれません。
        しかし、そんなことはなくとても画期的なサービスだと考えます。暇な時間や、自分
        の特技、好きなことを生かして、
        「時間がない」、「めんどくさい」、「精神的に苦痛」など様々な人たちのために働きませんか？？
      </p>
      <div class="about__introduce-btn">
        <button
          mat-raised-button
          aria-label="質問・お問い合わせ"
          color="primary"
        >
          <a href="https://twitter.com/WorksProxy">
            お問い合わせ
            <i class="fab fa-twitter"></i>
          </a>
        </button>
      </div>
    </div>
    <div class="about__proxy-list">
      <h2>どんな代行サービスがあるのか？？</h2>
      <ul>
        <li>お買い物代行</li>
        <li>家事代行</li>
        <li>謝罪代行</li>
        <li>場所取り代行</li>
        <li>行列代行</li>
        <li>愚痴・相談代行</li>
        <li>宿題代行</li>
        <li>退職代行</li>
        <li>セミナー代行</li>
        <li>恋人代行</li>
        <li>モーニングコール代行</li>
        <li>草刈り代行</li>
        <li>結婚式出席代行</li>
        <li>介護代行</li>
        <li>遺品整理代行</li>
        <li>編み物代行</li>
      </ul>
      <span>etc...</span>
    </div>
  </div>
</section>
