<section class="review">
  <h3>会社についてのレビュー</h3>
  <div class="review__bars">
    <p>社内の雰囲気の良さ（悪い/良い）</p>
    <div class="review__bar-flex">
      <mat-progress-bar
        class="review__bar"
        mode="determinate"
        value="40"
        color="primary"
      ></mat-progress-bar>
      <span>40%</span>
    </div>
  </div>

  <div class="review__bars">
    <p>サイト記載内容との差異（ない/ある）</p>
    <div class="review__bar-flex">
      <mat-progress-bar
        class="review__bar"
        mode="determinate"
        value="90"
        color="primary"
      ></mat-progress-bar>
      <span>90%</span>
    </div>
  </div>

  <div class="review__bars">
    <p>シフトの融通が利く（利かない/利く）</p>
    <div class="review__bar-flex">
      <mat-progress-bar
        class="review__bar"
        mode="determinate"
        value="10"
        color="primary"
      ></mat-progress-bar>
      <span>10%</span>
    </div>
  </div>

  <div class="review__bars">
    <p>残業時間（なし/ある）</p>
    <div class="review__bar-flex">
      <mat-progress-bar
        class="review__bar"
        mode="determinate"
        value="60"
        color="primary"
      ></mat-progress-bar>
      <span>60%</span>
    </div>
  </div>
</section>
