rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /userProfile/{userId} {
      allow read, write: if true;
    }
    match /companyProfile/{userId} {
      allow read, write: if true;
    }
    match /JobPosts/{userId} {
      allow read, write: if true;
    }
    match /reviews/{userId} {
      allow read, write: if true;
    }
  }
}
