rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /userProfile/{userId} {
      allow read, write: if true;
    }
    match /companyProfile/{userId} {
      allow read, write: if true;
    }
    match /JobPosts/{userId} {
      allow read, write: if true;
    }
    match /likes/{id}/likedUsers/{userId} {
      allow read, write: if true;
    }

    match /LikedUsers/{userId}/LikedItems/{id} {
      allow read, write: if true;
    }

    match /LikedUsers/{userId} {
      allow read, write: if true;
    }

    match /likes/{id} {
      allow read, write: if true;
    }

    match /users/{uid} {
      allow read, write: if true;
    }

    match /companys/{uid} {
      allow read, write: if true;
    }

    match /customers/{userId} {
      allow read, write: if request.auth.uid == userId;
    }
    match /customers/{userId}/private/payment {
      allow read, write: if request.auth.uid == userId;
    }
  }
}
