@import 'mixins';

.detail {
  margin: 0 8px 16px;
  &__title-text-weight {
    text-align: left;
    font-weight: 700;
    font-size: 28px;
  }
  &__title-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    line-height: 1.5;
    @include tab {
      width: 80%;
      margin: 0 auto;
    }
    @include pc {
      width: 60%;
    }
    span {
      display: block;
      color: #e74c3c;
      font-size: 20px;
      font-weight: 400;
      padding-bottom: 8px;
      border-bottom: 1px solid #ccc;
      @include pc {
        margin-bottom: 32px;
      }
    }
  }
  &__title-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title-btn {
    button {
      margin: 4px;
    }
  }
  .job-img {
    @include tab {
      margin: 0 auto;
      width: 80%;
    }
    @include pc {
      width: 20%;
      margin: 0 0 0 8px;
    }
    img {
      width: 100%;
    }
  }
  &__recruit {
    @include pc {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
    }
  }
  &__createdAt {
    color: #6f737b;
  }
  &__btn {
    text-align: center;
  }
  &__btn-add {
    margin: 10px 3px;
    padding: 8px 40px;
    @include pc {
      margin: 16px 8px;
      padding: 13px 72px;
    }
  }
  &__taglist {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 5px 24px 0;
    li {
      color: #6f737b;
      box-sizing: border-box;
      border: 1px solid #d8d9db;
      border-radius: 16px;
      font-size: 11px;
      padding: 5px 16px;
    }
  }

  dl {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    border-top: none;
    font-size: 14px;
    margin-bottom: 16px;
    line-height: 1.5;
    @include tab {
      width: 80%;
      margin: 0 auto 16px;
    }
    @include pc {
      width: 40%;
      margin: 0;
    }
  }
  dt {
    background: #f2f2f2;
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
  }
  dd {
    padding: 10px;
    margin: 0;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    width: 70%;
    background: #fff;
    box-sizing: border-box;
  }
  iframe {
    width: 100%;
    height: auto;
    margin-top: 8px;
    @include mobile {
      width: 80%;
    }
    @include pc {
      width: 100%;
    }
  }
  &__default-text {
    text-align: center;
    font-size: 14px;
    @include pc {
      font-size: 16px;
    }
  }
}
.like {
  background-color: #fbec46;
}
