<section class="detail">
  <div *ngIf="jobs$ | async as job">
    <div class="detail__title">
      <h1>{{ job.title }}</h1>
      <ul class="detail__taglist">
        <li>
          <a href="">{{ job.label }}</a>
        </li>
      </ul>
      <span>{{ job.companyName }}</span>
      <p>公開日： {{ job.createdAt.toDate() | date: 'yyy年MM月dd日' }}</p>
    </div>
    <div class="detail__recruit">
      <dl>
        <dt>概要</dt>
        <dd>{{ job.companyContent }}</dd>

        <dt>職種</dt>
        <dd>{{ job.occupation }}</dd>

        <dt>給与</dt>
        <dd>{{ job.salary }}円</dd>

        <dt>福利厚生</dt>
        <dd>{{ job.welfare }}</dd>

        <dt>勤務時間・日数・休日</dt>
        <dd>{{ job.workTime }}</dd>

        <dt>勤務地</dt>
        <dd>
          {{ job.workPlace }}
          <br />
          <iframe
            [src]="
              'https://maps.google.co.jp/maps?output=embed&q=' + job.workPlace
                | safe: 'resourceUrl'
            "
          ></iframe>
        </dd>
      </dl>
      <div class="job-img">
        <img
          [src]="imageURL"
          *ngFor="let imageURL of job.jobImageUrls"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="detail__btn">
    <button mat-stroked-button color="primary">お気に入り</button>
    <a href="dammy@tokyobite.com">
      <button mat-raised-button color="primary">応募する</button>
    </a>
  </div>
  <app-review></app-review>
</section>
