<section class="detail">
  <div *ngIf="article$ | async as article">
    <div class="detail__title">
      <h1>{{ article.title }}</h1>
      <ul class="detail__taglist">
        <li>
          <a href="">{{ article.label }}</a>
        </li>
      </ul>
      <span>{{ article.companyName }}</span>
      <p>公開日： {{ article.date }}</p>
    </div>
    <div class="detail__recruit">
      <dl>
        <dt>概要</dt>
        <dd>{{ article.companyContent }}</dd>

        <dt>職種</dt>
        <dd>{{ article.occupation }}</dd>

        <dt>給与</dt>
        <dd>{{ article.salary }}円</dd>

        <dt>福利厚生</dt>
        <dd>{{ article.welfare }}</dd>

        <dt>勤務時間・日数・休日</dt>
        <dd>{{ article.workTime }}</dd>

        <dt>勤務地</dt>
        <dd>
          {{ article.workPlace }}
          <br />
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12962.304508685393!2d139.75620068481774!3d35.68743768308378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c07a94ef3e9%3A0xcd2549ac06389fa!2z44CSMTAwLTAwMDQg5p2x5Lqs6YO95Y2D5Luj55Sw5Yy65aSn5omL55S6!5e0!3m2!1sja!2sjp!4v1575793750081!5m2!1sja!2sjp"
            width="200"
            height="150"
            frameborder="0"
            style="border:0;"
            allowfullscreen=""
          ></iframe>
        </dd>
      </dl>
      <div class="job-img">
        <img [src]="article.photoURL" alt="" />
        <img [src]="article.photoURL" alt="" />
      </div>
    </div>
  </div>
  <div class="detail__btn">
    <button mat-stroked-button color="primary">お気に入り</button>
    <a href="dammy@tokyobite.com">
      <button mat-raised-button color="primary">応募する</button>
    </a>
  </div>
  <app-review></app-review>
</section>
