<section class="detail">
  <div *ngIf="article$ | async as article">
    <div class="detail__title">
      <h1>{{ article.title }}</h1>
      <ul class="detail__taglist">
        <li>
          <a href="">{{ article.label }}</a>
        </li>
      </ul>
      <span>{{ article.companyName }}</span>
      <p>公開日： {{ article.createdAt.toDate() | date: 'yyy年MM月dd日' }}</p>
    </div>
    <div class="detail__recruit">
      <dl>
        <dt>概要</dt>
        <dd>{{ article.companyContent }}</dd>

        <dt>職種</dt>
        <dd>{{ article.occupation }}</dd>

        <dt>給与</dt>
        <dd>{{ article.salary }}円</dd>

        <dt>福利厚生</dt>
        <dd>{{ article.welfare }}</dd>

        <dt>勤務時間・日数・休日</dt>
        <dd>{{ article.workTime }}</dd>

        <dt>勤務地</dt>
        <dd>
          {{ article.workPlace }}
          <br />
          <iframe
            [src]="
              'https://maps.google.co.jp/maps?output=embed&q=' +
                article.workPlace | safe: 'resourceUrl'
            "
            scrolling="no"
          ></iframe>
        </dd>
      </dl>
      <div class="job-img">
        <img [src]="article.photoURL" alt="" />
        <img [src]="article.photoURL" alt="" />
      </div>
    </div>
  </div>
  <div class="detail__btn">
    <button mat-stroked-button color="primary">お気に入り</button>
    <a href="dammy@tokyobite.com">
      <button mat-raised-button color="primary">応募する</button>
    </a>
  </div>
  <app-review></app-review>
</section>
