<div class="company-profile profile-card">
  <h1 class="hdg">企業側プロフィール</h1>
  <ng-container *ngIf="profile$ | async as profile; else default">
    <div class="profile-card__list">
      <dl>
        <dt>会社名</dt>
        <dd>{{ profile.name }}</dd>

        <dt>部署名</dt>
        <dd>{{ profile.department }}</dd>

        <dt>お名前</dt>
        <dd>{{ profile.firstName }} {{ profile.lastName }}</dd>

        <dt>電話番号</dt>
        <dd>{{ profile.tel }}</dd>

        <dt>メールアドレス</dt>
        <dd>{{ profile.email }}</dd>

        <dt>パスワード</dt>
        <dd>{{ profile.password }}</dd>
      </dl>
    </div>
    <div class="profile-card__btn">
      <a routerLink="/company/profile/create" mat-raised-button color="primary"
        >編集する</a
      >
    </div>
  </ng-container>
  <ng-template #default>
    <p class="profile-card__default-text">
      プロフィールがありません。
    </p>
    <div class="profile-card__btn">
      <button
        routerLink="/company/profile/create"
        mat-raised-button
        color="primary"
      >
        作成する
      </button>
    </div>
  </ng-template>
</div>
