<section class="company-job-list job-card">
  <h1 class="hdg">自社求人一覧</h1>
  <ng-container *ngIf="jobs$ | async as jobs; else default">
    <p class="job-card__text">
      投稿数/<span class="job-card__number">{{ jobs.length }}</span
      >件
    </p>
    <div class="job-card__box" *ngFor="let job of jobs">
      <div class="job-card__title">
        <span>{{ job.companyName }}</span>
        <a routerLink="/job/detail/{{ job.id }}">
          <h2>{{ job.title }}</h2>
        </a>
      </div>
      <div class="job-card__content">
        <ng-container *ngIf="job.jobImageUrls; else defaultImg">
          <img [src]="job.jobImageUrls[0]" alt="" />
        </ng-container>
        <ng-template #defaultImg>
          <img src="assets/unnamed.png" alt="" />
        </ng-template>
        <ul class="job-card__content-list">
          <li>
            <i class="material-icons">compass_calibration</i>
            <span>{{ job.workPlace }}</span>
          </li>
          <li><i class="material-icons"> work </i>{{ job.occupation }}</li>
          <li>
            <i class="material-icons">
              money
            </i>
            時給{{ job.salary | number }}円
          </li>
          <li><i class="material-icons"> access_time </i>{{ job.workTime }}</li>
        </ul>
      </div>
    </div>
  </ng-container>
  <ng-template #default>
    <p class="job-card__default-text">
      投稿はまだありません。
    </p>
  </ng-template>
</section>
