<div class="new-job-box">
  <div class="new-job-box__post">
    <a href="">
      <span class="new-job-box__tag">New</span>
      <p>求人の概要、内容、詳細</p>
    </a>
    <a href="" class="new-job-box__place">
      <span>目黒駅</span><i class="material-icons">play_arrow</i>
    </a>
  </div>

  <div class="new-job-box__post">
    <a href="">
      <span class="new-job-box__tag">New</span>
      <p>求人の概要、内容、詳細</p>
    </a>
    <a href="" class="new-job-box__place">
      <span>目黒駅</span><i class="material-icons">play_arrow</i>
    </a>
  </div>

  <div class="new-job-box__post">
    <a href="">
      <span class="new-job-box__tag">New</span>
      <p>求人の概要、内容、詳細</p>
    </a>
    <a href="" class="new-job-box__place">
      <span>目黒駅</span><i class="material-icons">play_arrow</i>
    </a>
  </div>

  <div class="new-job-box__post">
    <a href="">
      <span class="new-job-box__tag">New</span>
      <p>求人の概要、内容、詳細</p>
    </a>
    <a href="" class="new-job-box__place">
      <span>目黒駅</span><i class="material-icons">play_arrow</i>
    </a>
  </div>

  <div class="new-job-box__post">
    <a href="">
      <span class="new-job-box__tag">New</span>
      <p>求人の概要、内容、詳細</p>
    </a>
    <a href="" class="new-job-box__place">
      <span>目黒駅</span><i class="material-icons">play_arrow</i>
    </a>
  </div>
</div>
