@import 'mixins';

.new-job-box {
  margin: 0 0 24px;
  @include pc {
    margin: 0 auto 32px;
    padding: 0 16px;
  }
  &__post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 2px dotted #eee;
  }
  &__tag {
    font-size: 11px;
    color: #fff;
    background-color: green;
    padding: 5px;
    border-radius: 3px;
  }
  p {
    font-size: 12px;
    margin-left: 8px;
  }
  a {
    font-size: 12px;
    display: flex;
    align-items: center;
    color: #0860c0;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      opacity: 0.7;
    }
  }
  i {
    color: green;
  }
  &__pc-title {
    display: none;
    @include tab {
      display: block;
    }
  }
  &__head {
    padding-right: 8px;
    @include tab {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 0;
    }
  }
}
