<section class="box">
  <h2 class="hdg">新着の求人</h2>
  <div class="box__content">
    <div class="box__post">
      <a href="">
        <span class="box__tag">New</span>
        <p>求人の概要、内容、詳細</p>
      </a>
      <a href="" class="box__place">
        <span>目黒駅</span><i class="material-icons">play_arrow</i>
      </a>
    </div>

    <div class="box__post">
      <a href="">
        <span class="box__tag">New</span>
        <p>求人の概要、内容、詳細</p>
      </a>
      <a href="" class="box__place">
        <span>目黒駅</span><i class="material-icons">play_arrow</i>
      </a>
    </div>

    <div class="box__post">
      <a href="">
        <span class="box__tag">New</span>
        <p>求人の概要、内容、詳細</p>
      </a>
      <a href="" class="box__place">
        <span>目黒駅</span><i class="material-icons">play_arrow</i>
      </a>
    </div>

    <div class="box__post">
      <a href="">
        <span class="box__tag">New</span>
        <p>求人の概要、内容、詳細</p>
      </a>
      <a href="" class="box__place">
        <span>目黒駅</span><i class="material-icons">play_arrow</i>
      </a>
    </div>

    <div class="box__post">
      <a href="">
        <span class="box__tag">New</span>
        <p>求人の概要、内容、詳細</p>
      </a>
      <a href="" class="box__place">
        <span>目黒駅</span><i class="material-icons">play_arrow</i>
      </a>
    </div>
  </div>
</section>
