<div class="comlaw profile-card">
  <h1 class="hdg">特定商取引に関する表記</h1>
  <div class="profile-card__list">
    <dl>
      <dt>代表責任者</dt>
      <dd>守屋　雅章</dd>

      <dt>所在地</dt>
      <dd>埼玉県</dd>

      <dt>電話番号</dt>
      <dd>080-1379-2452</dd>

      <dt>受付時間</dt>
      <dd>平日10:00〜18:00</dd>

      <dt>公開メールアドレス</dt>
      <dd>m.masa6262@gmail.com</dd>

      <dt>ホームページURL</dt>
      <dd>
        <a href="http://morima-1921.bitter.jp/site/">
          http://morima-1921.bitter.jp/site/
        </a>
      </dd>

      <dt>販売価格</dt>
      <dd>月額1,200円</dd>

      <dt>商品代金以外の必要料金</dt>
      <dd>なし</dd>

      <dt>引き渡し時期</dt>
      <dd>お支払い後すぐ</dd>

      <dt>お支払い方法</dt>
      <dd>
        クレジットカード決済(<a href="https://stripe.com/jp/about">Stripe</a>)
      </dd>
    </dl>
  </div>
</div>
