<div class="mypage profile-card">
  <h1>マイページ</h1>
  <ng-container *ngIf="profile$ | async as profile; else default">
    <div class="profile-card__list">
      <dl>
        <dt>画像</dt>
        <ng-container *ngIf="profile.photoURL; else defaultImg">
          <dd><img [src]="profile.photoURL" alt="" /></dd>
        </ng-container>
        <ng-template #defaultImg>
          <dd>
            <img src="assets/user-2935527_1280.png" alt="" />
          </dd>
        </ng-template>

        <dt>名前</dt>
        <dd>{{ profile.name }}</dd>

        <dt>住所</dt>
        <dd>{{ profile.address }}</dd>

        <dt>生年月日</dt>
        <dd>
          {{ profile.bday.year }}年{{ profile.bday.month }}月{{
            profile.bday.day
          }}日
        </dd>

        <dt>性別</dt>
        <dd>{{ profile.gender }}</dd>

        <dt>メールアドレス</dt>
        <dd>{{ profile.email }}</dd>

        <dt>電話番号</dt>
        <dd>{{ profile.tel }}</dd>

        <dt>学歴</dt>
        <dd>{{ profile.belongs }},{{ profile.school }}{{ profile.state }}</dd>

        <dt>資格</dt>
        <dd>{{ profile.tagOne }}, {{ profile.tagSecond }}</dd>

        <dt>勤務可能な日時</dt>
        <dd>{{ profile.possibleDay }}</dd>

        <dt>自己紹介</dt>
        <dd>
          {{ profile.introduce }}
        </dd>
      </dl>
    </div>
    <div class="profile-card__btn">
      <a routerLink="/profile" mat-raised-button color="primary">編集する</a>
    </div>
  </ng-container>
  <ng-template #default>
    <p class="profile-card__default-text">
      プロフィールがありません。
    </p>
    <div class="profile-card__btn">
      <button routerLink="/profile" mat-raised-button color="primary">
        作成する
      </button>
    </div>
  </ng-template>
  <div class="profile-card__footer-item">
    <a routerLink="/plan">プラン</a>
    <a routerLink="/comlaw">特定商取引法に基づく表示</a>
    <a routerLink="/terms">利用規約</a>
    <a routerLink="/about">Tokyo biteについて</a>
  </div>
</div>
