<div class="mypage">
  <h2>マイページ</h2>
  <div class="mypage__list">
    <dl>
      <dt>名前</dt>
      <dd>守屋 雅章</dd>

      <dt>住所</dt>
      <dd>東京都品川区五反田〇〇-〇〇</dd>

      <dt>生年月日</dt>
      <dd>1997年06月02日</dd>

      <dt>性別</dt>
      <dd>男性</dd>

      <dt>メールアドレス</dt>
      <dd>google@.com</dd>

      <dt>電話番号</dt>
      <dd>0120-000-444</dd>

      <dt>学歴</dt>
      <dd>〇〇大学〇〇学部在学中</dd>

      <dt>資格</dt>
      <dd>普通運転免許証, 基本情報技術者</dd>

      <dt>勤務可能な日時</dt>
      <dd>18:00~23:00, 22:00~26:00</dd>

      <dt>自己紹介</dt>
      <dd>
        ああああああああああああああああああああああおおおおおおおおおおおおおおおおおおおおおおおおおええ
      </dd>
    </dl>
  </div>
  <div class="mypage__btn">
    <a routerLink="/profile" mat-raised-button color="primary">編集する</a>
    <button mat-raised-button color="warn" (click)="openDeleteDialog()">
      削除する
    </button>
  </div>

  <div class="mypage__footer-item">
    <a routerLink="/plan">プラン</a>
    <a routerLink="/">企業の方はこちらから</a>
    <a routerLink="/comlaw">特定商取引法に基づく表示</a>
    <a routerLink="/terms">利用規約</a>
    <a routerLink="/about">Tokyo biteについて</a>
  </div>
</div>
