<section class="keep job-card">
  <h1>お気に入りした求人</h1>
  <ng-container *ngIf="jobs$ | async as jobs; else default">
    <p>
      お気に入り/<span class="job-card__number">{{ likedCount }}</span
      >件
    </p>
    <div class="job-card__box" *ngFor="let job of jobs">
      <div class="job-card__title">
        <span>{{ job.companyName }}</span>
        <a routerLink="/detail"
          ><h2>{{ job.title }}</h2></a
        >
      </div>

      <div class="job-card__content">
        <ng-container *ngIf="article.photoURL; else defaultImg">
          <img [src]="job.jobImageUrls[0]" alt="" />
        </ng-container>
        <ng-template #defaultImg>
          <img src="assets/unnamed.png" alt="" />
        </ng-template>
        <ul class="job-card__content-list">
          <li>
            <i class="material-icons">compass_calibration</i>
            <span>{{ job.workPlace }}</span>
          </li>
          <li><i class="material-icons"> work </i>{{ job.occupation }}</li>
          <li>
            <i class="material-icons">
              money
            </i>
            時給{{ job.salary }}円
          </li>
          <li><i class="material-icons"> access_time </i>{{ job.workTime }}</li>
        </ul>
      </div>
      <div class="job-card__btn">
        <button mat-raised-button color="warn" (click)="deleteLikedJob(job)">
          お気に入り削除
        </button>
        <button class="job-card__btn__right" mat-raised-button color="primary">
          応募する
        </button>
      </div>
    </div>
  </ng-container>
  <ng-template #default>
    <p class="job-card__default-text">
      お気に入りはまだありません。
    </p>
  </ng-template>
</section>
