@import 'mixins';
@import '~@angular/material/theming';
@import 'job-post';

.keep {
  padding: 8px;
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  &__text {
    margin-bottom: 16px;
  }
  &__number {
    color: #e64a19;
  }
}

.job-box__btn {
  margin: 24px 0 0;
  text-align: right;
}
