<form action="">
  <div>
    <mat-form-field>
      <input matInput placeholder="このようなバイトです" value="タイトル">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <textarea matInput placeholder="勤務時間"></textarea>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="休日" value="週3日">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="福利厚生" value="あり">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <textarea matInput placeholder="概要"></textarea>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="タグ１" value="週２から可能">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="タグ２" value="交通費支給">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="企業名" value="株式会社 Tokyo bite">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
            <input matInput placeholder="時給" value="1000円">
    </mat-form-field>
    <span>〜</span>
    <mat-form-field>
      <input matInput placeholder="時給" value="1200円">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>職種</mat-label>
      <select matNativeControl required>
        <option value="volvo">経理</option>
        <option value="saab">営業</option>
        <option value="mercedes">接客</option>
        <option value="audi">アパレル</option>
      </select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="勤務地" value="東京">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <textarea matInput placeholder="詳細テキスト"></textarea>
    </mat-form-field>
  </div>

  <div>
    <button mat-raised-button color="primary">求人広告を登録する</button>
  </div>
</form>
