<form action="" class="recruitment">
  <div>
    <mat-form-field>
      <mat-label>タイトル</mat-label>
      <input matInput placeholder="このようなバイトです">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>勤務時間</mat-label>
      <textarea matInput placeholder="18:00~22:00"></textarea>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>休日</mat-label>
      <input matInput placeholder="週3日">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>福利厚生</mat-label>
      <input matInput placeholder="あり">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>概要</mat-label>
      <textarea matInput placeholder="簡単なバイトの内容"></textarea>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="タグ１">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="タグ２">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="企業名">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
            <input matInput placeholder="時給" value="1000円">
    </mat-form-field>
    <span>〜</span>
    <mat-form-field>
      <input matInput placeholder="時給" value="1200円">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>職種</mat-label>
      <select matNativeControl required>
        <option value="volvo">経理</option>
        <option value="saab">営業</option>
        <option value="mercedes">接客</option>
        <option value="audi">アパレル</option>
      </select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="勤務地" value="東京">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <textarea matInput placeholder="詳細テキスト"></textarea>
    </mat-form-field>
  </div>

  <div>
    <button mat-raised-button color="primary">求人広告を登録する</button>
  </div>
</form>
