.job-card {
  padding: 0 8px;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .job-card {
    width: 70%;
    margin: 0 auto 32px;
    padding: 0;
  }
}

.job-card h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 16px;
}

.job-card__title {
  line-height: 1.5;
}

.job-card__title span {
  font-size: 14px;
}

.job-card__title h3 {
  font-size: 16px;
  margin-bottom: 8px;
}

.job-card__title h3:hover {
  opacity: 0.7;
}

.job-card__title a {
  color: #0860c0;
}

.job-card__content-list {
  line-height: 1.5;
}

@media (min-width: 1024px) {
  .job-card__content-list {
    width: 70%;
  }
}

.job-card__content-list li {
  border-bottom: 1px dotted #ededed;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  padding: 8px 0;
  font-size: 14px;
}

.job-card__content-list li:last-child {
  margin-bottom: 32px;
}

@media (min-width: 1024px) {
  .job-card__content-list li {
    margin-left: 16px;
  }
}

.job-card__content-list i {
  padding-right: 24px;
  color: lightgray;
}

.job-card img {
  width: 100%;
  margin-bottom: 16px;
}

@media (min-width: 1024px) {
  .job-card img {
    width: 30%;
    height: auto;
  }
}

.job-card__box {
  box-sizing: border-box;
  border: 1px solid #ededed;
  border-radius: 8px;
  padding: 16px 8px;
  margin-bottom: 48px;
}

.job-card__btn {
  text-align: right;
}

@media (min-width: 1024px) {
  .job-card__btn button {
    padding: 8px 24px;
  }
}

.job-card__btn__right {
  margin-left: 5px;
}

@media (min-width: 1024px) {
  .job-card__btn__right {
    margin-left: 8px;
  }
}

@media (min-width: 1024px) {
  .job-card__content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
}

.job-card__number {
  color: orangered;
}

.job-card__default-text {
  text-align: center;
  margin-top: 48px;
  font-size: 14px;
}

@media (min-width: 1024px) {
  .job-card__default-text {
    font-size: 16px;
  }
}
