@import '~@angular/material/theming';

.job-box {
  margin-bottom: 16px;
  line-height: 1.5;
  width: 100%;
  @include tab {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  @include pc {
    margin: 0 auto 32px;
  }
  &__card {
    @include mat-elevation(3);
    width: 100%;
    margin-bottom: 16px;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    @include tab {
      margin: 0 auto 32px;
    }
    @include pc {
      margin-bottom: 56px;
      padding-bottom: 40px;
      transition: 0.7s;
      &:hover {
        @include mat-elevation(18);
      }
    }
  }
  &__thumbnail {
    height: 200px;
    background: center / cover;
  }
  &__title {
    display: block;
    font-size: 20px;
    font-weight: 500;
    color: #333333;
  }
  &__sub-title {
    color: #0860c0;
    font-size: 16px;
    margin-bottom: 16px;
  }
  li {
    font-size: 13px;
    color: #3c4043;
  }
  &__content {
    text-align: left;
    padding: 16px;
    flex: 1;
  }
  a {
    text-decoration: none;
  }
  img {
    width: 100%;
  }
  button {
    display: block;
    margin: 0 auto;
  }
  &__default-text {
    margin: 0 auto;
    font-size: 14px;
    @include pc {
      font-size: 16px;
    }
  }
  &__taglist {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 64px;
    li {
      color: #fff;
      box-sizing: border-box;
      background-color: orange;
      border: 1px solid orange;
      border-radius: 5px;
      margin-right: 5px;
      font-size: 11px;
      padding: 4px;
    }
  }
  &__content-foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      display: flex;
      align-items: center;
      color: darkgray;
    }
  }
}
