@import '~@angular/material/theming';

.job-box {
  margin-bottom: 16px;
  line-height: 1.5;
  width: 100%;
  @include tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  @include pc {
    margin: 0 auto 32px;
  }
  &__card {
    @include mat-elevation(3);
    width: 100%;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-radius: 5px;
    box-sizing: border-box;
    @include tab {
      width: 48%;
      margin: 0 auto 32px;
    }
    @include pc {
      width: 31%;
      margin-bottom: 56px;
      padding-bottom: 40px;
      transition: 0.5s;
      &:hover {
        transform: translateY(-12px);
        @include mat-elevation(15);
      }
    }
  }
  &__title {
    display: block;
    text-align: center;
    font-size: 16px;
    text-decoration: underline;
    color: #0860c0;
    &:hover {
      opacity: 0.7;
    }
  }
  li {
    font-size: 13px;
    color: #3c4043;
  }
  &__content {
    padding: 0 8px;
  }
  a {
    text-decoration: none;
  }
  img {
    width: 100%;
  }
  button {
    display: block;
    margin: 0 auto;
  }
  &__default-text {
    margin: 0 auto;
    font-size: 14px;
    @include pc {
      font-size: 16px;
    }
  }
  &__default-img {
    border-bottom: 1px solid lightgray;
  }
}
