@import 'mixins';

.profile-card {
  padding: 0 8px;
  &__list {
    max-width: 1000px;
    margin: 0 auto;
  }
  h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 24px;
  }
  &__btn {
    text-align: center;
    margin: 24px 0 40px;
    button {
      margin: 8px;
    }
  }
  &__footer-item {
    a {
      display: block;
      text-decoration: none;
      color: #454545;
      text-align: center;
      border-bottom: 2px solid #ededed;
      font-size: 16px;
      padding: 20px 0;
      &:nth-child(1) {
        border-top: 2px solid #ededed;
      }
      @include tab {
        display: none;
      }
    }
  }
  &__default-text {
    text-align: center;
    font-size: 14px;
    @include pc {
      font-size: 16px;
    }
  }
  dl {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    border-top: none;
    font-size: 14px;
    margin-bottom: 16px;
    line-height: 1.5;
    @include pc {
      font-size: 16px;
    }
  }
  dt,
  dd {
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    padding: 16px;
  }
  dt {
    background: #f2f2f2;
    width: 30%;
  }
  dd {
    border-left: 1px solid #ccc;
    width: 70%;
  }
}
