@import 'mixins';

.profile-card {
  padding: 0 8px;
  margin-bottom: 56px;
  &__list {
    margin-top: 24px;
    @include pc {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      max-width: 768px;
      margin: 24px auto 0;
      box-sizing: border-box;
    }
  }
  h1 {
    font-size: 24px;
    text-align: center;
  }
  dl {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    border-top: none;
    font-size: 14px;
    margin-bottom: 16px;
    line-height: 1.5;
    max-width: 768px;
    margin: 0 auto;
    @include pc {
      font-size: 18px;
    }
  }
  dt {
    background: #f2f2f2;
    width: 30%;
  }
  dd {
    margin: 0;
    border-left: 1px solid #ccc;
    width: 70%;
  }
  img {
    width: 100%;
    margin: 0 auto;
    @include tab {
      width: 60%;
    }
  }
  dt,
  dd {
    padding: 24px 8px;
    border-top: 1px solid #ccc;
    box-sizing: border-box;
    @include pc {
      padding: 24px;
    }
  }
  &__btn {
    text-align: center;
    margin: 24px 0 40px;
    button {
      margin: 8px;
      @include pc {
        padding: 8px 24px;
      }
    }
  }
  &__default-text {
    text-align: center;
    font-size: 14px;
    @include pc {
      font-size: 16px;
    }
  }
  &__out {
    span {
      display: inline-block;
    }
    ul {
      margin: 0 0 40px;
      line-height: 1.5;
      text-align: left;
      @include tab {
        text-align: center;
      }
    }
    li {
      margin-bottom: 8px;
    }
    button {
      display: block;
      margin: 24px auto 32px;
      @include pc {
        padding: 8px 24px;
        margin: 32px auto;
      }
    }
  }
}

.mat-tab-group {
  margin-bottom: 24px;
  max-width: 1000px;
  margin: 0 auto;
}
