@import 'mixins';
@import '~@angular/material/theming';

.profile-form {
  h1 {
    font-size: 24px;
    text-align: center;
  }
  margin: 0 0 40px;
  max-width: 1000px;
  padding: 0 8px;
  line-height: 5;
  @include mobile {
    margin: 0 auto 40px;
    padding: 16px 16px 56px;
    @include mat-elevation(3);
  }
  &__field {
    width: 100%;
  }
  &__btn {
    display: block;
    margin: 72px auto 0;
    @include pc {
      padding: 8px 24px;
    }
  }
}
