<section class="plan">
  <div class="plan__container">
    <div class="plan__box">
      <h3>無料プラン</h3>
      <span>¥0</span>
      <span>（¥0/月）</span>
      <div class="plan__register-btn">
        <button mat-flat-button color="primary">登録</button>
      </div>
    </div>

    <div class="plan__box">
      <h3>有料プラン</h3>
      <span>¥580</span>
      <span>（¥580/月）</span>
      <div class="plan__register-btn">
        <button mat-flat-button color="primary">登録</button>
      </div>
    </div>
  </div>
  <button mat-raised-button color="accent">クレジットカード登録</button>
</section>
