<section class="plan">
  <h1 class="hdg">プラン/決済</h1>
  <mat-tab-group>
    <mat-tab label="プラン">
      <div class="plan__container">
        <div class="plan__box plan__box-cyan">
          <h3>フリープラン</h3>
          <span>（¥0/月）</span>
          <ul class="plan__content-list">
            <li>サービス登録時の初期プラン</li>
            <li>1件の求人掲載が可能</li>
          </ul>
          <div class="plan__register-btn">
            <button
              mat-flat-button
              color="accent"
              aria-label="無料プラン登録する"
              *ngIf="subscriptionID"
              (click)="stripeDialog()"
            >
              登録
            </button>
            <button
              mat-flat-button
              aria-label="無料プラン登録中"
              disabled
              *ngIf="!subscriptionID"
            >
              登録中
            </button>
          </div>
        </div>

        <div class="plan__box plan__box-orange">
          <h3>プレミアムプラン</h3>
          <span>（¥1,200/月）</span>
          <ul class="plan__content-list">
            <li>プレミア会員限定プラン</li>
            <li>制限なしの求人掲載が可能</li>
          </ul>
          <ng-container *ngIf="!subscriptionID; else subscription">
            <div class="plan__register-btn">
              <button
                mat-flat-button
                aria-label="有料プラン登録する"
                color="primary"
                (click)="stripeDialog()"
              >
                登録
              </button>
            </div>
          </ng-container>
          <ng-template #subscription>
            <div class="plan__register-btn">
              <button
                mat-flat-button
                aria-label="フリープランに戻す"
                color="warn"
                (click)="stripeDialog()"
              >
                フリープランに戻す
              </button>
            </div>
          </ng-template>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="決済情報">
      <div class="plan__info">
        <h3>カード情報</h3>
        <ng-container *ngIf="card$ | async as card; else noCard">
          <div class="plan__card-number">
            <i
              class="fab fa-cc-{{
                card.card.brand.toLowerCase() === 'american express'
                  ? 'amex'
                  : card.card.brand.toLowerCase()
              }}"
            ></i>
            <span>**** **** **** {{ card.card.last4 }}</span>
          </div>
        </ng-container>
        <ng-template #noCard>
          <p>クレジットカードはまだご登録されていません。</p>
        </ng-template>
        <button mat-raised-button color="accent" (click)="creditDialog()">
          クレジットカード
          {{ text ? '変更' : '登録' }}
        </button>
        <ol>
          <li>カード情報は世界的に信頼が厚いStripeで厳重に管理されます。</li>
          <li>
            サービスではクレジットカード情報を保持しないので漏洩の心配はありません。
          </li>
        </ol>
        <div class="plan__payment">
          <h4>決済情報</h4>
          <ng-container *ngIf="startedAt; else free">
            <p>有料プラン開始日:{{ startedAt.toDate() | date: 'yyy/MM/dd' }}</p>
          </ng-container>
          <ng-template #free>
            <p>決済情報はありません。</p>
          </ng-template>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="退会">
      <div class="plan__out">
        <button mat-raised-button color="warn" (click)="openDeleteDialog()">
          退会する
        </button>
        <ul>
          <li>退会すると利用データが完全に削除され、復元できません。</li>
          <li>退会するとすべての定期購入が停止します。</li>
        </ul>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>
