<h2>企業側の登録ページ</h2>

<form action="">
  <div>
    <mat-form-field>
      <input matInput placeholder="法人名（正式社名）">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="部署名（＊任意）">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="姓">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="名">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="メールアドレス">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="パスワード">
      <button mat-icon-button matSuffix></button>
    </mat-form-field>
  </div>

  <div>
    <mat-checkbox>利用規約に同意する</mat-checkbox>
  </div>

  <button mat-flat-button color="accent">無料登録する</button>

</form>
