

<form  class="companyForm" class.mat-elevation-z8>
  <h2>無料登録ページ</h2>
  <div>
    <mat-form-field class="companyForm__field">
      <input matInput placeholder="法人名（正式社名）">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="companyForm__field">
      <input matInput placeholder="部署名（＊任意）">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="companyForm__field">
      <input matInput placeholder="姓">
    </mat-form-field>
    <mat-form-field class="companyForm__field">
      <input matInput placeholder="名" >
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="companyForm__field">
      <input matInput placeholder="メールアドレス">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="companyForm__field">
      <input matInput placeholder="パスワード">
      <button mat-icon-button matSuffix></button>
    </mat-form-field>
  </div>

  <div>
    <mat-checkbox>利用規約に同意する</mat-checkbox>
  </div>

  <button class="companyForm__btn" mat-flat-button color="accent">
    <span>無料登録する</span><i class="material-icons">done</i>
  </button>

</form>
