<form
  class="companyForm"
  [formGroup]="form"
  (ngSubmit)="submit()"
  class.mat-elevation-z8
>
  <h2>無料登録ページ</h2>
  <div>
    <mat-form-field class="companyForm__field">
      <input
        matInput
        placeholder="法人名（正式社名）"
        formControlName="name"
        autocomplete="organization"
        required
      />
      <mat-error *ngIf="nameControl.hasError('required')"
        >必須入力です</mat-error
      >
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="companyForm__field">
      <input
        matInput
        placeholder="部署名（＊任意）"
        formControlName="department"
        autocomplete="organization-title"
      />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="companyForm__field">
      <input
        matInput
        placeholder="姓"
        formControlName="lastName"
        autocomplete="family-name"
      />
      <mat-error *ngIf="lastNameControl.hasError('required')"
        >必須入力です</mat-error
      >
      <mat-error *ngIf="lastNameControl.hasError('maxlength')"
        >30文字以内にしてください。</mat-error
      >
    </mat-form-field>
    <mat-form-field class="companyForm__field">
      <input
        matInput
        placeholder="名"
        formControlName="firstName"
        autocomplete="given-name"
      />
      <mat-error *ngIf="firstNameControl.hasError('required')"
        >必須入力です</mat-error
      >
      <mat-error *ngIf="firstNameControl.hasError('maxlength')"
        >30文字以内にしてください。</mat-error
      >
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="companyForm__field">
      <input
        type="tel"
        matInput
        placeholder="電話番号"
        formControlName="tel"
        required
        autocomplete="tel"
      />
      <mat-error *ngIf="telControl.hasError('required')"
        >必須入力です</mat-error
      >
      <mat-error *ngIf="telControl.hasError('pattern')"
        >数字でハイフンなしでお願いします</mat-error
      >
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="companyForm__field">
      <input
        matInput
        placeholder="メールアドレス"
        formControlName="email"
        required
        autocomplete="email"
      />
      <mat-error *ngIf="emailControl.hasError('required')"
        >必須入力です</mat-error
      >
      <mat-error *ngIf="emailControl.hasError('email')"
        >メールアドレス形式にして下さい</mat-error
      >
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="companyForm__field">
      <input
        matInput
        placeholder="パスワード"
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
        autocomplete="new-password"
        required
      />
      <button mat-icon-button matSuffix (click)="hide = !hide">
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="passwordControl.hasError('required')"
        >必須入力です</mat-error
      >
      <mat-error *ngIf="passwordControl.hasError('pattern')"
        >8文字以上の半角英数字でお願いします</mat-error
      >
    </mat-form-field>
  </div>
  <div>
    <mat-checkbox>利用規約に同意する</mat-checkbox>
  </div>
  <div class="term">
    <app-terms></app-terms>
  </div>
  <button
    [disabled]="form.invalid || form.pristine"
    class="companyForm__btn"
    mat-flat-button
    color="accent"
  >
    <span>無料登録する</span><i class="material-icons">done</i>
  </button>
  <p>ご記入頂いた内容は後からでも変更可能です。</p>
</form>
<a routerLink="/recruitment" mat-flat-button color="primary">求人広告を作成</a>
<button (click)="logout()" mat-flat-button color="warn">ログアウト</button>
