<div class="search">
  <form
    (ngSubmit)="querySuggestionSelected.emit(inputControl.value)"
    class="search__box"
  >
    <p>代行サービスを探そう</p>
    <div class="search__input">
      <input
        [matAutocomplete]="auto"
        [formControl]="inputControl"
        placeholder="代行サービスを検索"
        aria-label="代行サービスを検索"
      />
      <div class="search__btn">
        <button
          mat-flat-button
          color="primary"
          aria-label="検索する"
          aria-label="Example icon-button with a heart icon"
        >
          検索する
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
    <mat-autocomplete
      (optionSelected)="querySuggestionSelected.emit($event.option.value)"
      #auto="matAutocomplete"
    >
      <div *ngFor="let index of state.indices || []">
        <mat-option
          *ngFor="let option of index.hits"
          [value]="option.label"
          (click)="querySuggestionSelected.emit(option.label)"
        >
          {{ option.label }}
        </mat-option>
      </div>
    </mat-autocomplete>
  </form>
</div>
