<div class="new-job-box">
  <ng-container *ngIf="jobs$ | async as jobs; else default">
    <div class="new-job-box__post" *ngFor="let job of jobs">
      <div class="new-job-box__head">
        <span class="new-job-box__tag">New</span>
        <a routerLink="/detail/{{ job.id }}" (click)="router()"
          >{{ job.title }}
        </a>
      </div>
      <a routerLink="/detail/{{ job.id }}">
        <span>{{ job.workPlace }}</span
        ><i class="material-icons">play_arrow</i>
      </a>
    </div>
  </ng-container>
  <ng-template #default>
    <p class="new-job-box__default-text">
      新着の求人はまだありません。
    </p>
  </ng-template>
</div>
