<section class="job-list job-card">
  <h2>求人一覧</h2>
  <ng-container *ngIf="jobs$ | async as jobs; else default">
    <div class="job-card__box" *ngFor="let job of jobs">
      <div class="job-card__title">
        <span>{{ job.companyName }}</span>
        <a routerLink="/detail/{{ job.id }}">
          <h3>{{ job.title }}</h3>
        </a>
      </div>
      <div class="job-card__content">
        <img [src]="job.jobImageUrls[0]" alt="" />
        <ul class="job-card__content-list">
          <li>
            <i class="material-icons">compass_calibration</i>
            <span>{{ job.workPlace }}</span>
          </li>
          <li><i class="material-icons"> work </i>{{ job.occupation }}</li>
          <li>
            <i class="material-icons">
              money
            </i>
            時給{{ job.salary }}円
          </li>
          <li><i class="material-icons"> access_time </i>{{ job.workTime }}</li>
        </ul>
      </div>
      <div class="job-card__btn">
        <button mat-raised-button color="warn">お気に入り追加</button>
        <button class="job-card__btn-right" mat-raised-button color="primary">
          応募する
        </button>
      </div>
    </div>
  </ng-container>
  <ng-template #default>
    <p class="job-card__default-text">
      投稿はまだありません。
    </p>
  </ng-template>
</section>
