<section class="keep">
  <h2>求人一覧</h2>
  <div class="keep__box" *ngFor="let jobList of jobLists">
    <div class="keep__title">
      <span>{{ article.companyName }}</span>
      <a href="/detail">
        <h3>{{ article.title }}</h3>
      </a>
    </div>
    <div class="keep__content">
      <img [src]="article.recruitmentImg" alt="求人画像" />
      <ul class="keep__content-list">
        <li>
          <i class="material-icons">compass_calibration</i>
          <span>{{ article.workPlace }}</span>
        </li>
        <li><i class="material-icons"> work </i>{{ article.occupation }}</li>
        <li>
          <i class="material-icons">
            money
          </i>
          時給{{ article.salary.min }}~{{ article.salary.max }}円
        </li>
        <li>
          <i class="material-icons"> access_time </i>{{ article.workTime }}
        </li>
      </ul>
    </div>
    <div class="keep__btn">
      <button mat-raised-button color="warn">お気に入り追加</button>
      <a href="dammy@tokyobite.com">
        <button class="keep__btn-right" mat-raised-button color="primary">
          応募する
        </button>
      </a>
    </div>
  </div>
</section>
