<div class="container">
  <app-header (click)="sidenav.toggle()"></app-header>
  <app-search *ngIf="searchNone()"></app-search>
  <mat-drawer-container class="example-container">
    <mat-drawer
      class="container__side-menu"
      #sidenav
      mode="{{ sidenavMode }}"
      [opened]="opened"
    >
      <mat-nav-list>
        <mat-list-item routerLink="/">
          ホーム
        </mat-list-item>
        <mat-list-item routerLink="/job/list">
          求人一覧
        </mat-list-item>
      </mat-nav-list>
      <mat-divider></mat-divider>
      <mat-nav-list>
        <mat-list-item routerLink="/intl/comlaw">
          特定商取引法に基づく表示
        </mat-list-item>
        <mat-list-item routerLink="/intl/terms">
          利用規約
        </mat-list-item>
        <mat-list-item routerLink="/intl/privacy">
          プライバシー
        </mat-list-item>
        <mat-list-item routerLink="/intl/help">
          ヘルプ
        </mat-list-item>
        <mat-list-item routerLink="/intl/about">
          Proxy Worksについて
        </mat-list-item>
      </mat-nav-list>
      <p class="side__copyright">
        © Proxy Works All rights reserved.
      </p>
    </mat-drawer>
    <mat-drawer-content>
      <main class="content">
        <router-outlet></router-outlet>
      </main>
    </mat-drawer-content>
  </mat-drawer-container>
  <app-footer></app-footer>
</div>
