<app-header></app-header>

<main class="container">
  <router-outlet></router-outlet>
</main>

<footer>
  <div class="footer">
    <ul class="footer__first-nav">
      <li><a routerLink="/comlaw">特定商取引法に基づく表示</a></li>
      <li><a routerLink="/terms">利用規約</a></li>
      <li><a routerLink="/about">Tokyo biteについて</a></li>
      <li><a routerLink="/">企業の方はこちらから</a></li>
    </ul>
    <p class="footer__copyright">Copyright © Tokyo bite All rights reserved.</p>
  </div>
</footer>

<div class="footer-box">
  <div class="footer-box__icons">
    <div class="footer-box__icon">
      <a routerLink="/">
        <mat-icon aria-hidden="false">home</mat-icon>
        <span>ホーム</span>
      </a>
    </div>
    <div class="footer-box__icon">
      <a routerLink="/">
        <mat-icon aria-hidden="false">settings_applications</mat-icon>
        <span>設定</span>
      </a>
    </div>
    <div class="footer-box__icon">
      <a routerLink="keep">
        <mat-icon aria-hidden="false">star</mat-icon>
        <span>お気に入り</span>
      </a>
    </div>
    <div class="footer-box__icon">
      <a routerLink="profile">
        <mat-icon aria-hidden="false">person</mat-icon>
        <span>マイページ</span>
      </a>
    </div>
  </div>
</div>
