<div class="container">
  <app-header (sidenavClose)="sidenav.toggle()"></app-header>
  <app-search *ngIf="searchNone()"></app-search>
  <mat-drawer-container class="example-container">
    <mat-drawer
      class="container__side-menu"
      #sidenav
      mode="{{ sidenavMode }}"
      [opened]="opened"
    >
      <mat-nav-list>
        <mat-list-item
          class="container__side-menu-list"
          *ngFor="let nav of navs"
          routerLink="{{ nav.link }}"
        >
          <i class="material-icons" [style.color]="nav.color">
            label
          </i>
          {{ nav.title }}
        </mat-list-item>
      </mat-nav-list>
      <p class="side__copyright">
        © Proxy Works All rights reserved.
      </p>
    </mat-drawer>
    <mat-drawer-content>
      <main class="content">
        <router-outlet></router-outlet>
      </main>
      <app-footer></app-footer>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
