<article class="top-page">
  <section class="top-page__content">
    <div class="top-page__head">
      <h1>注目の代行</h1>
      <button
        routerLink="/job/list"
        mat-button
        aria-label="代行一覧へ"
        color="warn"
      >
        代行一覧へ
      </button>
    </div>
    <app-attention></app-attention>
    <div class="top-page__head">
      <h2>新着の代行</h2>
      <button
        routerLink="/job/list"
        mat-button
        aria-label="代行一覧へ"
        color="warn"
      >
        代行一覧へ
      </button>
    </div>
    <app-new></app-new>
  </section>
</article>
