@import 'mixins';

.top__page {
  padding: 16px 16px 0;
}

.attention,
.new {
  @include pc {
    max-width: 1200px;
    margin: 0 auto;
  }
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d8d9db;
    margin-bottom: 16px;
    padding-bottom: 16px;
  }
}

.attention {
  margin-bottom: 48px;
  @include pc {
    margin: 0 auto 64px;
  }
}

.hdg {
  font-weight: 700;
  font-size: 24px;
}

.new {
  @include pc {
    margin-bottom: 56px;
  }
}
