<article class="top__page">
  <section class="attention">
    <div class="attention__head">
      <h2 class="hdg">注目の代行求人</h2>
      <button routerLink="/job-list" mat-button color="primary">
        求人一覧へ >>
      </button>
    </div>
    <app-attention></app-attention>
  </section>
  <section class="new">
    <div class="new__head">
      <h2 class="hdg">新着の代行求人</h2>
      <button routerLink="/job-list" mat-button color="primary">
        求人一覧へ >>
      </button>
    </div>
    <app-new></app-new>
  </section>
</article>
