@import 'mixins';

.top__page {
  padding: 16px 8px 0;
}

.attention,
.new {
  @include pc {
    max-width: 1000px;
    margin: 0 auto;
  }
}

.attention {
  margin-bottom: 48px;
  line-height: 1.5;
  @include pc {
    margin: 0 auto 64px;
  }
  h1 {
    font-size: 24px;
    text-align: center;
  }
  a {
    display: block;
    font-size: 13px;
    margin-bottom: 8px;
    color: #0860c0;
    text-decoration: underline;
    text-align: right;
    &:hover {
      opacity: 0.7;
    }
  }
}

.new {
  @include pc {
    border: 2px solid #eee;
    border-radius: 5px;
    margin: 0 auto 64px;
  }
}

.hdg {
  font-size: 18px;
  text-align: center;
  margin-bottom: 24px;
  font-weight: 500;
  @include pc {
    font-size: 24px;
    margin-bottom: 40px;
  }
}

.hdg-pc {
  @include pc {
    padding-top: 16px;
  }
}

button {
  display: block;
  margin: 0 auto;
  padding: 8px 16px;
}
