@import 'mixins';
@import 'job-post';
@import '~@angular/material/theming';
.job-list {
  padding: 16px 16px 0;
  @include pc {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px 24px 0;
  }
}
