<div class="about">
  <div class="about__title">
    <h1 class="hdg">ご利用方法</h1>
  </div>
  <mat-tab-group>
    <mat-tab label="企業側">
      <mat-vertical-stepper #stepper>
        <mat-step>
          <ng-template matStepLabel>プロフィール作成</ng-template>
          <div class="about__tab-content">
            <p>企業側でログインしたらプロフィールを作成する。</p>
            <p>＊プロフィールを作成しないと投稿することはできません。</p>
            <img src="assets/companyProfile.png" alt="" />
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>投稿作成</ng-template>
          <div class="about__tab-content">
            <p>投稿の編集・削除について</p>
            <img src="assets/recuit.png" alt="" />
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>投稿の編集・削除</ng-template>
          <div class="about__tab-content">
            <p>
              画像の右上に編集ボタン・削除ボタンがあるのでそこから投稿の編集、削除を行ってください。
            </p>
            <img src="assets/job-write.png" alt="" />
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </mat-tab>

    <mat-tab label="ユーザー側">
      <mat-vertical-stepper #stepper>
        <mat-step>
          <ng-template matStepLabel>プロフィール作成</ng-template>
          <div class="about__tab-content">
            <p>ユーザー側でログインしたらプロフィールを作成する。</p>
            <img src="assets/userProfile.png" alt="" />
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </mat-tab>
  </mat-tab-group>
</div>
