@import 'mixins';

.about {
  max-width: 1200px;
  margin: 0 auto 40px;
  p {
    font-size: 16px;
  }
  &__title {
    text-align: center;
    h1 {
      font-weight: 500;
      font-size: 24px;
    }
    p {
      margin-bottom: 24px;
    }
  }
  &__tab-content {
    line-height: 2;
  }
  &__tab-content-second {
    padding: 0 8px;
    p {
      padding: 24px 0;
    }
  }
  img {
    width: 100%;
  }
}
