<section class="job-box">
  <div class="job-box__card">
    <img src="/assets/images/job4.jpg" width="100%" alt="注目求人1" />
    <div class="job-box__content">
      <a href="" class="job-box__title">株式会社１</a>
      <ul>
        <li>代々木駅</li>
        <li>時給1000円〜</li>
      </ul>
      <a routerLink="/detail">
        <button mat-raised-button color="primary">もっと見る</button>
      </a>
    </div>
  </div>

  <div class="job-box__card">
    <img src="/assets/images/job2.jpg" width="100%" alt="注目求人２" />
    <div class="job-box__content">
      <a href="" class="job-box__title">株式会社2</a>
      <ul>
        <li>東京駅</li>
        <li>時給1200円〜</li>
      </ul>
      <a routerLink="/detail">
        <button mat-raised-button color="primary">もっと見る</button>
      </a>
    </div>
  </div>

  <div class="job-box__card">
    <img src="/assets/images/job3.jpg" width="100%" alt="注目求人3" />
    <div class="job-box__content">
      <a href="" class="job-box__title">株式会社3</a>
      <ul>
        <li>恵比寿駅</li>
        <li>時給1400円〜</li>
      </ul>
      <a routerLink="/detail">
        <button mat-raised-button color="primary">もっと見る</button>
      </a>
    </div>
  </div>
</section>
