<section class="attention">
    <h2>注目の求人</h2>
      <a routerLink="/joblist">求人一覧へ >></a>
    <div class="attention__content">
      <div class="attention__card">
        <img src="/assets/images/job4.jpg" width="100%" alt="注目求人1">
        <a href=""><span class="attention__title">株式会社１</span></a>
        <ul>
          <li>代々木駅</li>
          <li>時給1000円〜</li>
        </ul>
        <a routerLink="/detail">
          <button mat-raised-button color="primary">もっと見る</button>
        </a>
      </div>

      <div class="attention__card">
        <img src="/assets/images/job2.jpg" width="100%" alt="注目求人２">
          <a href=""><span class="attention__title">株式会社2</span></a>
            <ul>
              <li>東京駅</li>
              <li>時給1200円〜</li>
            </ul>
        <a routerLink="/detail">
          <button mat-raised-button color="primary">もっと見る</button>
        </a>
      </div>

      <div class="attention__card">
        <img src="/assets/images/job3.jpg" width="100%" alt="注目求人3">
          <a href=""><span class="attention__title">株式会社3</span></a>
            <ul>
              <li>恵比寿駅</li>
              <li>時給1400円〜</li>
            </ul>
        <a routerLink="/detail">
          <button mat-raised-button color="primary">もっと見る</button>
        </a>
      </div>
    </div>
</section>
