/* You can add global styles to this file, and also import other style files */

@import "mixins";
@import "reset";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

.footer {
      display: none;
      @include tab {
        display: block;
      }
  &__first-nav {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    @include tab {
      margin-bottom: 0;
    }
    li {
      list-style: none;
      font-size: 0.8em;
      @include tab {
        padding: 0 1em;
      }
    }
    a {
      color: #fff;
      text-decoration: none;
      &:hover {
        opacity: 0.7;
        text-decoration: underline;
      }
    }
  }
  &__copyright {
    text-align: center;
    small {
      color: aliceblue;
    }
  }
  &__content {
    @include tab {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}


.footer__box {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  @include tab {
    display: none;
  }
  a {
    color: #fff;
  }
}

.footer__icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 24px 8px;
  span {
    display: block;
    font-size: 5px;
    text-align: center;
  }
}
