/* You can add global styles to this file, and also import other style files */

@import "mixins";
@import "reset";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


footer {
  border-top: 1px solid skyblue;
  background: #00c6ff;
  background: -webkit-linear-gradient(to right, #0072ff, #00ade5);
  background: linear-gradient(to right, #0072ff, #00ade5);
}

.footer-content {
  padding: 24px 8px;
    @include tab {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
        padding: 32px 8px;
    }
}

.footer-nav {
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
    @include tab {
      margin-bottom: 0;
    }
    li {
      list-style: none;
      font-size: .8em;
        @include tab {
          padding: 0 1em;
        }
    }
      a {
        color: #fff;
        text-decoration: none;
          &:hover {
            opacity: .7;
            text-decoration: underline;
          }
      }
}

.copyright {
  text-align: center;
    small {
      // color: #585858;
      color: aliceblue;
    }
}
