/* You can add global styles to this file, and also import other style files */

@import 'mixins';
@import 'reset';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.footer {
  background-color: #3f51b5;
  padding: 16px 8px;
  display: none;
  @include tab {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
  }
  &__first-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @include pc {
      justify-content: space-between;
    }
    li {
      list-style: none;
      font-size: 12px;
      @include tab {
        line-height: 2.5;
      }
      @include pc {
        font-size: 14px;
      }
    }
    a {
      color: #fff;
      text-decoration: none;
      padding: 8px;
      &:hover {
        opacity: 0.7;
        text-decoration: underline;
      }
    }
  }
  &__copyright {
    text-align: center;
    font-size: 14px;
    color: #fff;
  }
}

.footer-box {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #3f51b5;
  @include tab {
    display: none;
  }
  a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 16px;
  }
  &__icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    span {
      display: block;
      font-size: 8px;
      text-align: center;
    }
  }
}
