@import "mixins";

.search-form {
  width: 100%;
  margin: 24px 0 32px;
  padding: 0 8px;
  box-sizing: border-box;
}

.search-full-width {
  width: 100%;
}

.label_word {
  width: 100%;
}



input {
  padding: 9px 0;
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  border-style: groove;
    &::placeholder {
    font-size: 16px;
  }
    @include tab {
      padding: 15px 0;
        &::placeholder {
          font-size: 18px;
        }
    }
}

.form-filed_item {
  @include tab {
    width: 60%;
    margin: 0 auto;
  }
    @include pc {
      width: 40%;
      padding: 5px;
    }
}

.form-filed-btn {
  text-align: right;
}

.serch-btn {
  @include pc {
    padding: 3px 6px;
      &:hover {
        opacity: .7;
      }
  }
}

.mat-form-field-wrapper  {
  padding: 0;
}

.search-button-row {
  text-align: center;
  margin-bottom: 32px;
    button {
      padding: .8em 1em;
        @include pc {
          &:hover {
            opacity: .7;
          }
        }
    }
}

.material-icons {
  margin-left: 3px;
}
