<section class="job-box">
  <ng-container *ngIf="jobs$ | async as jobs; else default">
    <div class="job-box__card" *ngFor="let job of jobs">
      <a routerLink="/detail/{{ job.id }}">
        <ng-container *ngIf="job.jobImageUrls; else defaultImg">
          <img [src]="job.jobImageUrls[0]" alt="" />
        </ng-container>
        <ng-template #defaultImg>
          <a routerLink="/detail/{{ job.id }}" class="job-box__default-img">
            <img src="assets/unnamed.png" alt="" />
          </a>
        </ng-template>
        <div class="job-box__content">
          <p class="job-box__title">
            {{ job.companyName }}
          </p>
          <ul>
            <li>{{ job.workPlace }}</li>
            <li>{{ job.salary }}円</li>
          </ul>
        </div>
      </a>
    </div>
  </ng-container>
  <ng-template #default>
    <p class="job-box__default-text">
      注目の求人はまだありません。
    </p>
  </ng-template>
</section>
