<section class="job-box">
  <ng-container *ngIf="jobs$ | async as jobs; else default">
    <div class="job-box__card" *ngFor="let job of jobs">
      <a routerLink="/detail/{{ job.id }}">
        <ng-container *ngIf="job.jobImageUrls; else defaultImg">
          <figure
            class="job-box__thumbnail"
            [style.background-image]="'url(' + job.jobImageUrls[0] + ')'"
          ></figure>
        </ng-container>
        <ng-template #defaultImg>
          <img src="assets/unnamed.png" class="job-box__thumbnail" alt="" />
        </ng-template>
        <div class="job-box__content">
          <p class="job-box__title">
            {{ job.title }}
          </p>
          <ul>
            <li>{{ job.workPlace }}</li>
            <li>{{ job.salary }}円</li>
          </ul>
        </div>
      </a>
    </div>
  </ng-container>
  <ng-template #default>
    <p class="job-box__default-text">
      注目の求人はまだありません。
    </p>
  </ng-template>
</section>
